@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@plugin "daisyui";
@import "tailwindcss";


.logo {
  font-family: "Changa One", sans-serif;
  font-weight: 300;
  font-style: normal;
}